/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-family: "Inter", sans-serif;
}
:root {
  --title: #e53170;
  --bgbox: #0f0e17;
  --coloremail: #3ca5c1;
  --colortext: white;
}
/* container */
.container {
  max-width: 1050px;
  margin: 0 auto;
}

/* title */
h1 {
  color: var(--title);
  margin-top: 3rem;
  text-align: center;
}

/* subtitle */
.container > p {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* .debug { 
  border: 1px solid black;
}
*/

section {
  margin-top: 1rem;
}

/* cards */
.card {
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  float: left;
  background-color: var(--bgbox);
  color: var(--colortext);
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.15);
}

/* databox */
h2 {
  color: var(--colortext);
  font-size: 1rem;
  padding-top: 1rem;
}
.jobs {
  color: var(--colortext);
  font-size: 0.9rem;
  padding: 0.5rem;
}
address {
  color: var(--coloremail);
  padding-bottom: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
  float: left;
  padding-right: 1rem;
}
